.title-wrapper {
    background-image: url("../images/screen.jpg");
    background-size: 100%;
    background-position: 50%;
  }
  
  .title {
    backdrop-filter: blur(6px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-wrapper .title {
    height: 400px;
  }
  
  .title h1 {
    margin: 0;
    font-size: 4rem;
    color: white ;
  }

.history{
    background-color: var(--light-yellow-color);
}

.history h2 {
    margin: 0;
    padding: 50px 0 30px;
    text-align: center;
}

.history p {
    width: 65%;
    margin:30px auto 0;
    padding: 0 0 60px;
    font-size: 1.5 rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

.history img{
    height: 200px;
}

.history #css_graf{
    float: left;
    margin-left: 15%;
}

.history #html_graf{
    float: right;
    margin-right: 15%;
}


.team {
    background-color: var(--dark-gray-color);
    text-align: center;
}

.team h2 {
    margin: 0;
    color: var(--light-gray-color);
    padding-top: 50px;
}

.teammates{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    margin:  50px 17% 0;
    padding-bottom: 50px;
}

.teammate {
    background-color: var(--light-gray-color);
    border-radius: 10%;
    padding: 20px;
    margin: 20px;
    width: 250px;
}

.teammate-img {
    border-radius: 100%;
    height: 200px;


}

.quality {
    background-color: var(--light-yellow-color);
    text-align: center;
}

.qualities {

    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 8%;
    margin: auto 6%;
}

.quality h2{
    margin: 0;
    padding: 60px;
}

.quality-item {
    background-color: var(--light-gray-color);
    height: 250px;
    width: 410px;
    margin: 5px 20px 60px;
    border-radius: 10%;
    padding: 30px;
    overflow: hidden;
}

.quality-item img {
    height: 110px;
}

.quality-item h3 {
    margin: 45px auto;
}

.quality-item-content {
    transition: transform 0.5s ease-in-out;
}

.quality-item:hover .quality-item-content{
    transform: translateY(-150px);
}